/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
  padding-left: 0px;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}



.autocomplete a{
	text-decoration: none;
	color: #2b7;
  font-weight: bold; 
}

.autocomplete a:hover{
	color: #b15;
  transition: 0.1s all ease-in-out;
}

.autocomplete h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.5em;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* taken from bootstrap */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.autocomplete article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

.autocomplete audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.autocomplete audio:not([controls]) {
  display: none;
}
.autocomplete html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.autocomplete a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.autocomplete a:hover,
a:active {
  outline: 0;
}

.autocomplete img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.autocomplete ul>li{
	list-style:none;
}

/* Generic classes */
.autocomplete .hide { /* Hide stuff without resorting to display:none; */
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.autocomplete .hide:after { /* Hide stuff without resorting to display:none; */
	visibility: hidden !important;
	width: 0 !important;
	height: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.autocomplete div{
  text-align: center;
}

.autocomplete .main{
  display: inline-block;
  padding: 2em;
  width: 30em;
  margin-bottom: 5em;
}

.autocomplete header{
  width: 100%;
  height: 6em;
  padding: 0.7em 1em 0.5em 2em;
  color: #eee;
  background-color: #333;
}
.autocomplete .description{
  text-align: left;
}

.autocomplete .thin{
  font-weight: 100;
}

.autocomplete footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;

  font-weight: 200;
  line-height: 4em;
  color: #eee;
  background-color: #44ba54;
  text-align: center;
}

.autocomplete footer a{
  color: #333;
  font-weight: bold;
}

.autocomplete footer a:hover{
  color: #b15;
  font-weight: bold;
}


